%h1
  = "#{user.firstname}'s info"
%p
%table
  %tr
    %td
      Name
    %td
      Lastname
    %td
      Email
    %td
      Member since
  %tr
    %td
      = user.firstname
    %td
      = user.lastname
    %td
      = user.email
    %td
      = user.created_at

%p
  = link_to 'All users', users_path, class: 'btn btn-default'