%h2.table_name 
  Categories

%table.table.table-hover
  %tr.table-header
    %th Category name
    %th Products
    %th

  - categories.each do |category|
    %tr
      %td= category.name
      %td
        %span.badge.glyphicon.glyphicon-play= "  #{category.products.count}"
      %td.btn.btn-group
        = link_to 'Show', category, class: 'btn btn-default'
        - if current_user.present? && current_user.admin?
          = link_to 'Edit', edit_category_path(category), class: 'btn btn-default'
          = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'

%br
- if current_user.present? && current_user.admin?
  = link_to 'New Category', new_category_path, class: 'btn btn-primary'
