%p#notice= notice

%p
  %b Name:
  = category.name

%table
  %tr
    %td
      Product name
    %td
      Average rate
  - category.products.each do |product|
    %tr
      %td
        = link_to product.title, category_product_path(category.id, product.id)
      %td
        = product.average_rating
%br   
%p
  = link_to 'Check products with details!', category_products_path(category.id)

%p
  %h3 New product
  = render 'products/form'

- if current_user.present? && current_user.admin?
  = link_to 'Edit', edit_category_path(category)
  \|

= link_to 'Back', categories_path, class: 'btn btn-primary'
