%p#notice= notice

%p
  %b.h3.table_name Product: #{category.name}

%table.table
  %tr.table-header
    %td
      Product
    %td
      Description
    %td
      Price
    %td
      Average rate
    %td
      Reviews
    %td

  - category.products.each do |product|
    %tr
      %td
        = link_to product.title, category_product_path(category.id, product.id)
      %td
        = product.description
      %td
        = number_with_precision(product.price, precision: 2)
      %td
        - if product.average_rating > 0
          .glyphicon.glyphicon-star= " #{number_with_precision(product.average_rating, precision: 2)}"
      %td
        %span.badge.glyphicon.glyphicon-pencil= "  #{product.reviews.count}"
      %td
        = link_to 'Add review!', category_product_path(category.id, product.id), class: 'btn btn-default'
%br   

%p
  %h3.table_name New product
  = render 'products/form'
%br
- if current_user.present? && current_user.admin?
  = link_to 'Edit', edit_category_path(category), class: 'btn btn-default'
= link_to 'Back', categories_path, class: 'btn btn-default'
