%p#notice= notice
%p#error= flash[:error]

%table.table
  %tr
    %td
      %b Title
    %td
      = product.title
  %tr
    %td 
      %b Description
    %td
      = product.description
  %tr
    %td 
      %b Price
    %td
      = product.price
  %tr
    %td
    %td
  %tr
    %td 
      %b Category
    %td
      = product.category.name

%h3.table_name Reviews
= render 'reviews/form'

= render reviews

- if product.user == current_user
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-default'
= link_to 'Back', category_products_path, class: 'btn btn-default'
